{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "deeprai2@in.ibm.com",
      "Space": "Insgights"
    },
    "Name": "watsonknowsme",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}